:root {
  /* https://mycolor.space/?hex=%230097AD&sub=1  cube palette */
  --main-bg-color: rgba(238, 232, 169, 0.3);
  --white-color: #EEE8A9;
  --black-color: #0097AD;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
  background-color: var(--main-bg-color);
  /*background-image: var(--main-bg-gradient);*/
}

.board {
  width: 400px;
}

/* white square */
.white-1e1d7 {
  background-color: var(--white-color);
  color: var(--black-color);
}

/* black square */
.black-3c85d {
  background-color: #005C7C;
  color: var(--black-color);
}

/* highlighted square */
.highlight1-32417, .highlight2-9c5d2 {
  box-shadow: inset 0 0 2px 2px #00A8D3;
}

.ia-working {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.ia-working.visible {
  visibility: visible;
}
.ia-working:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ia-working 1.2s linear infinite;
}
@keyframes ia-working {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
