body {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
  /* https://mycolor.space/?hex=%23B58863&sub=1 */
  background-color: #FFF7EB;
}

.board {
  width: 400px;
}

.ia-working {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.ia-working.visible {
  visibility: visible;
}
.ia-working:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ia-working 1.2s linear infinite;
}
@keyframes ia-working {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
